<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="../styles/style.css" rel="stylesheet">
</head>
<body>
    <body class="vacancies">
    <div class="header-bg">
        <div class="custom-navbar">
            <div style="display: flex; align-items: center;">
                <img src="../images/logo.png" alt="SLT Mobitel Logo" class="navbar-logo">
                <span class="navbar-title">Training Program</span>
            </div>
            <div style="flex: 1"></div>
            <nav class="navbar-right">
                <a href="./jobstatus.html">Job status</a>
                <span>|</span>
                <a href="./applyjob.html">Apply for job</a>
                <span>|</span>
                <a href="./vacancies.html">jobs for you</a>
                <span>|</span>
                <a href="../home.html">Home</a>
                <span>|</span>
                <a href="./login.html">Login</a>
            </nav>
        </div>
    </div>
    
    <div class="jobstatus-container">
        <h1 class="jobstatus-title">Applied Job Status:</h1>
        <div class="jobstatus-table-wrapper">
            <table class="jobstatus-table">
                <thead>
                    <tr>
                        <th>Job Field</th>
                        <th>Job Position</th>
                        <th>Recommendation</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Software</td>
                        <td>QA Trainee</td>
                        <td>Approved yesterday</td>
                        <td>Approved</td>
                    </tr>
                    <tr>
                        <td>Telecommunication</td>
                        <td>Trainee</td>
                        <td>Rejected yesterday</td>
                        <td>Rejected</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
    
</body>
</html>